.icon {
  display: inline-block;
  background-repeat: no-repeat;

  &-logo-dinero {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-dinero.png') 
  }

  &-logo-moneyveo {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-moneyveo.png') 
  }

  &-logo-soscredit {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-soscredit.png') 
  }

  &-logo-miloan {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-miloan.png') 
  }
  
  &-logo-alexcredit {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-alexcredit.png') 
  }

  &-logo-creditup {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-creditup.png') 
  }

  &-logo-mycredit {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-mycredit.jpg') 
  }

  &-logo-crediton {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-crediton.png') 
  }

  &-logo-forzacredit {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-forzacredit.png') 
  }

  &-logo-creditkasa {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-creditkasa.png') 
  }

  &-logo-creditplus {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-creditplus.png') 
  }

  &-logo-kfua {
    width: 150px;
    height: 50px;
    background-image: url('images/icon-logo-kfua.png') 
  }
}





