/*
 Buttons style
*/
.btn-action {
	display: block;
	width: 100%;
	padding: .625em 0;

	color: #fff;
	font-size: 1em;

	box-shadow: 1px 1px 3px rgba(0, 2, 0, 0.26);

	border-top: 1px solid #4bbaf7;
	border-right: 1px solid #359bd3;
	border-bottom: 1px solid #2482b5;
	border-left: 1px solid #359bd3;
	border-radius: 10px;

	background-color: #2ca1e0;

	text-align: center;

	&:hover {
		
		background-color: #37b9ff;
	}
}