body {
    overflow: hidden;
    height: 100%;
  
    transition: opacity .2s ease;

    color: $color-primary;
    font: 16px $font-primary;

  }
  
  body[data-loaded="true"] {
    overflow: inherit;
    overflow-x: hidden;
    height: inherit;
    position: relative !important;
  
    opacity: 1;
    
    
    :global(#preloader) {
      display: none;
    }
  }

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight:600;
}

p {
  margin:0;
}

:global(#content-overlay){

  overflow: hidden;
}

.container {
  @include container;
  max-width: 75em;
  margin: 0 auto;
}

.section {

  padding: 6.250em 0;

  &-main {

    h1.title {

      padding: 0 9.459em;
    }

    .sub-title {

      padding: 0 13.333em 5em 13.333em;
    }
  }
}
