body {
    overflow: hidden;
    height: 100%;
  
    transition: opacity .2s ease;

    color: $color-primary;
    font: 16px $font-primary;

  }
  
  body[data-loaded="true"] {
    overflow: inherit;
    overflow-x: hidden;
    height: inherit;
    position: relative !important;
  
    opacity: 1;
    
    
    :global(#preloader) {
      display: none;
    }
  }

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight:600;
}

p {
  margin:0;
}

:global(#content-overlay){

  overflow: hidden;
}

.container {
  @include container;
  max-width: 75em;
  margin: 0 auto;
}

.section {

  padding: 6.250em 0;

  @include breakpoint($mobile) {
      
    padding: 2em 0;
  }

  @include breakpoint($tablet) {
      
    padding: 3em 0;
  }

  > .container {

    @include breakpoint($mobile) {
      
      padding: 0 1.5em;
    }

    @include breakpoint($tablet) {
      
      padding: 0 5em;
    }

    @include breakpoint($laptop-small) {

      padding: 0 1.5em;
    }
  }

  &-main {

    padding-bottom: 0; 

    h1.title {

      padding: 0 9.459em;

      @include breakpoint($mobile) {
      
        padding: 0;
      }

      @include breakpoint($tablet-p) {
      
        padding: 0;
      }

      @include breakpoint($tablet-l) {
      
        padding: 0 4em;
      }
    }

    .sub-title {

      padding: 0 13.333em 5em 13.333em;

      @include breakpoint($mobile) {
      
        padding: 0 0 5em 0;
      }

      @include breakpoint($tablet-p) {
      
        padding: 0 0 5em 0;
      }

      @include breakpoint($tablet-l) {
      
        padding: 0 5em 5em;
      }
    }
  }
}

